################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/API_WEB/.vs/API_WEB/FileContentIndex/015a739d-a982-4aa3-be85-dbc65668626a.vsidx
